* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50x;
    min-width: 1300px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

nav > button {
    font-size: 1.5rem;
    height: 100px;
    width: 200px;
    background-color: rgb(88, 88, 168);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
}

nav > button:disabled {
    background-color: rgb(24, 24, 133);
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    background-color: rgb(148, 148, 255);
    --inner-card-color: rgb(24, 24, 133);
    --shadow-color: rgb(88, 88, 168);
    color: rgb(255, 255, 255);

    --outer-radius: 50px;
    --inner-radius: 25px;
    border-radius: var(--outer-radius);

    width: 1000px;
    height: 1000px;
}

div#content > * {
    display: flex;
    justify-content: center;
}

div#content > #title {
    font-size: 2rem;
    padding: 20px 0px;
    background-color: var(--inner-card-color);
    border-top-left-radius: var(--outer-radius);
    border-top-right-radius: var(--outer-radius);
    box-shadow: 0px 2px 2px 0px var(--shadow-color);
}

#homeImage > img {
    object-fit: cover;
    border-radius: var(--inner-radius);
    width: 750px;
    height: 300px;
    box-shadow: 0px 5px 5px 5px var(--shadow-color);
}

div#content > #contentCards {
    display: flex;
    justify-content: space-evenly;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--inner-card-color);
    border-radius: var(--inner-radius);
    box-shadow: 0px 5px 5px 3px var(--shadow-color);

    padding: 20px;
    font-size: 1.5rem;
}

#contentCards > .card {
    width: 300px;
    height: 300px;
}

#contentCards > #about {
    text-align: center;
}

#contentCards > #schedule > ul{
    list-style-type: none;
    font-size: 1.75rem;
}

div#content > #footer {
    display: flex;
    justify-content: space-evenly;

    padding: 20px 0px;

    background-color: var(--inner-card-color);
    border-bottom-left-radius: var(--outer-radius);
    border-bottom-right-radius: var(--outer-radius);
    box-shadow: 0px -2px 2px 0px var(--shadow-color);
}

div#content > #menuGrid {
    flex: 1;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    padding: 0px 50px;

    font-size: 3rem;
}

#menuGrid > #mainMenu {
    grid-row: 1 / 7;
    grid-column: 1 / 1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menuGrid > #sideMenu {
    grid-row: 1 / 4;
    grid-column: 2 / 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menuGrid > #drinkMenu {
    grid-row: 4 / 7;
    grid-column: 2 / 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuItem {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px 30px;
    
    border-bottom: 1px solid white;
}

.menuItem > .item {
    font-size: 2rem;
}

.menuItem > .price {
    font-size: 1.5rem;
}

#contacts {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 50px;
}